{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'auth_app/styles.css' %}">

</head>
<body>
    
   
    <section class="section">
        <div class="conternar_1">
         <div class="entete1">🗓️ 16 années d'expérience</div>
         <div class="entete2"> 🔷97% clients ravis</div>
         <div class="entete3">👍👍🏿 Satisfait ou remboursé</div>
         <div class="entete4">✔️ Artisans vérifiés</div>
        </div>
        <div class="conternar_2">
         <div class="nav">nav 1</div>
         <div class="nav1"><input type="search" name="recherche" id=""></div>
         <div class="nav2">
             <div class="sous1">
                 <div class="compte">🙍🏻</div>
                 <div class="compte1">COMPTE</div>
             </div>
             <div class="sous2">
                 <div class="devis">📖</div>
                 <div class="devis1"> DEVIS </div>
             </div>
             <div class="sous3">📞+225 0759177681</div>
         </div>
        </div>
        <div class="conternar_3">
         <div class="tire0"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong> </div>
         <div class="tire1"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong></div>
         <div class="tire2"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong></div>
         <div class="tire3"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong></div>
         <div class="tire4"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong></div>
         <div class="tire5"><strong><a href=""sy style="text-decoration: none; color:white;">lorem</a></strong></div>
        </div>
    </section>
    {% block content %}
    
    {% endblock content %}
</body>
</html>