{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info user</title>
    <link rel="stylesheet" href="{% static 'auth_app/styles.css' %}">
</head>
<body>
   <section class="section">
       <div class="conternar_1">
        <div class="entete1">🗓️ 16 années d'expérience</div>
        <div class="entete2"> 🔷97% clients ravis</div>
        <div class="entete3">👍👍🏿 Satisfait ou remboursé</div>
        <div class="entete4">✔️ Artisans vérifiés</div>
       </div>
       <div class="conternar_2">
        <div class="nav">nav 1</div>
        <div class="nav1"><input type="search" name="recherche" id=""></div>
        <div class="nav2">
            <div class="sous1">
                <div class="compte">🙍🏻</div>
                <div class="compte1">COMPTE</div>
            </div>
            <div class="sous2">
                <div class="devis">📖</div>
                <div class="devis1"> DEVIS </div>
            </div>
            <div class="sous3">📞+225 0759177681</div>
        </div>
       </div>
       <div class="conternar_3">
        <div class="tire0"><strong>lorem</strong> </div>
        <div class="tire1"><strong>lorem</strong></div>
        <div class="tire2"><strong>lorem</strong></div>
        <div class="tire3"><strong>lorem</strong></div>
        <div class="tire4"><strong>lorem</strong></div>
        <div class="tire5"><strong>lorem</strong></div>
       </div>
   </section>

   <section class="info-user">
        <div class="info0"><a href="">< Retour</a></div>
        <div class="info1">MES INFORMATIONS</div>
        <div class="info2">
            <div class="photo">photo</div>
        </div>
        <div class="info3"><a href="">Modifier ma photo</a></div>
        <div class="local">
            <div class="info4">
                <h3>Nom :</h3>
                <h3>Prenoms :</h3>
                <h3>email :</h3>
                <h3>Numeros :</h3>
            </div>
        <div class="info5">
            <h3>ADRESSE DE FACTURATION</h3>
            <h3>pays :</h3>
            <h3>Commune :</h3>
        </div>
        </div>
   </section>

   <hgroup>
    <div class="group1">
        <div class="artisan"><strong>Besoin d'un artisan :</strong></div>
        <div class="artisan1"><a href=""><div class="over">Trouver un artisan</div></a></div>
    </div>
    <div class="group2">
        <div class="artisan">Besoin d'aide ?</div>
        <div class="artisan">📞+225 0759177681</div>
        <div class="groupe3"></div>
        <div class="groupe4"></div>
    </div>
   </hgroup>
</body>
</html>